* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: #fff;
	background-color: #333;
	overflow: hidden;
}

div {
	width: 300px;
	height: 300px;
}

.circle {
	border-radius: 50%;
	background-color: green;

    animation: circle-animation 2s 4s
}

.square {
	background-color: red;
	animation: square-animation 4s forwards;
}

@keyframes square-animation {
	0% {
		width: 300px;
		background-color: red;
	}

	50% {
		width: 600px;
		height: 300px;
	}

	100% {
		width: 300px;
		height: 600px;
		background-color: gold;
	}
}

@keyframes circle-animation{
    from {
        background-color: green;
    }

    to {
        background-color: blue;
    }
}

