* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}

section {
	display: flex;
}

.one {
	flex-direction: row;
}

.two {
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

.three {
	flex-direction: column;
}

div.square {
	display: flex;
	width: 200px;
	height: 200px;
	background-color: gold;
	border: 3px solid black;
	font-size: 35px;
	font-weight: bold;
	align-items: center;
	justify-content: center;
}
