* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	font-family: sans-serif;
}
p {
	display: none;
}

@media (200px <= width <= 400px) {
	body {
		background-color: gold;
	}
}

@media (400px < width <= 600px) {
	body {
		background-color: royalblue;
	}
}

@media (600px < width <= 800px) {
	body {
		background-color: tomato;
	}
	p {
		display: block;
	}
}

@media (min-width: 801px) {
	body {
		background-color: #333;
	}
}
