*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background-color: #333;
	color: #fff;
	font-size: 36px;
	font-family: sans-serif;
}

/* tooltip */

.tooltip-box {
	display: flex;
	width: 400px;
	justify-content: space-between;
}

.tooltip {
	position: relative;
}

.tooltip::before {
	display: none;
	position: absolute;
	width: 100%;
	padding: 0.5em 1em;
	border-radius: 8px;
	background-color: #999;
	font-size: 14px;
}

.tooltip:hover::before {
	display: block;
}

.tooltip-top::before {
	content: 'Tekst w tooltipie na górze';
	bottom: 130%;
}

.tooltip-right::before {
	content: 'Tekst w tooltipie po prawej';
	left: 110%;
}

/* input */

.input-box {
	position: relative;
}
input {
	padding: 1em;
	width: 400px;
	border-radius: 8px;
	border: 2px solid #aaa;
	background: none;
	color: #aaa;
}

label {
	position: absolute;
	font-size: 20px;
	top: 32%;
	left: 2%;
	padding: 0 0.5em;
	transition: transform 0.3s;
	pointer-events: none;
}

input:focus {
	outline: none;
	border: 2px solid rgb(92, 92, 251);
}

input:focus ~ label {
	transform: translateY(-90%);
	color: rgb(92, 92, 251);
	background-color: #333;
}
