* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 74px;
}

body {
  background-color: #ebecf2;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  font-style: normal;
}

.navbar-toggler {
  padding: 10px 15px;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  position: relative;
  margin: 0 auto 20px;
  height: 4px;
  width: 75px;
  background-color: #039dff;
}

nav {
  text-transform: uppercase;
  transition: background-color 0.6s;
  z-index: 5;
}
nav .nav-link,
nav .navbar-nav .nav-link.show,
nav .navbar-brand,
nav .fa-bars,
nav .navbar-brand:focus,
nav .navbar-brand:hover {
  color: #fff;
}
nav .nav-link:focus,
nav .nav-link:hover,
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show {
  color: #039dff;
}
nav .navbar-brand {
  font-weight: bold;
}

.second-part {
  color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.hero-img-header {
  position: relative;
  height: 100vh;
  background-image: url("../img/hero-img-small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}
.hero-img-header .hero-shadow {
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.hero-img-header .hero-text {
  position: relative;
  height: 100%;
  text-shadow: 3px 3px 5px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-img-header .hero-text h1 {
  font-size: 35px;
  text-transform: uppercase;
}
.hero-img-header .hero-text p {
  font-size: 20px;
}
.hero-img-header .fa-chevron-down {
  position: absolute;
  bottom: 20px;
  font-size: 30px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

main {
  color: #000;
}

.aboutus i {
  margin-top: 20px;
  font-size: 40px;
}
.aboutus .about-us-hero-title {
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus .about-us-hero-text {
  font-size: 14px;
}

.aboutus-hero {
  position: relative;
  color: #fff;
  text-shadow: 3px 3px 5px #000;
  background-image: url("../img/cpu-small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
.aboutus-hero .row {
  position: relative;
}
.aboutus-hero .about-us-hero-item {
  margin: 10px 0;
}
.aboutus-hero .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  background-color: rgba(0, 0, 0, 0.6);
}
.aboutus-hero .aboutus-hero-title {
  margin-top: 20px;
  font-size: 18px;
}
.aboutus-hero i {
  margin-top: 10px;
  font-size: 40px;
}
.aboutus-hero .aboutus-hero-text {
  font-size: 14px;
}

.aboutus-hero-item:hover {
  color: #039dff;
}

.aboutus-hero-item {
  transition: color 0.3s;
}

.portfolio-carousel .carousel-item {
  height: 600px;
}
.portfolio-carousel .carousel-caption {
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  padding: 40px 0;
  width: 100%;
}
.portfolio-carousel .carousel-indicators {
  padding-bottom: 20px;
}

.card-img-top {
  width: 100%;
}

@media (min-width: 1200px) {
  header.hero-img {
    background-image: url("../img/hero-img-large.jpg");
  }
}
@media (min-width: 1200px) and (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
  .aboutus-hero {
    background-image: url("../img/cpu-large.jpg");
  }
}
.prices .price-box {
  padding: 30px;
  margin: 20px;
  background-color: #fff;
  transition: scale 0.5s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.prices .price-box p span {
  font-weight: bold;
}
.prices .price-box p .fas {
  font-size: 23px;
}
.prices .price-box i {
  padding: 0 5px;
}
.prices .price-box .price-tag {
  font-size: 30px;
  font-weight: bold;
}
.prices .price-box .price-title {
  font-weight: bold;
  color: #039dff;
  text-transform: uppercase;
  font-size: 18px;
}
.prices .price-box .price-info {
  margin-top: 20px;
}
.prices .price-box .price-info a {
  text-decoration: none;
}
.prices .price-box .btn {
  text-transform: uppercase;
  padding: 10px 15px 10px;
}
.prices .price-box:hover {
  scale: 1.05;
}

.team .hero-img {
  position: relative;
  padding: 60px 20px;
  background-image: url("../img/team/background.jpeg");
  background-size: cover;
  background-attachment: fixed;
}
.team .hero-img h2 {
  position: relative;
  color: #fff;
  z-index: 3;
}
.team .hero-img .underline {
  position: relative;
  z-index: 3;
}
.team .hero-img .card-group {
  position: relative;
  gap: 15px;
  z-index: 3;
}
.team .hero-img .card-group .card {
  transition: scale 0.3s;
}
.team .hero-img .card-group .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.team .hero-img .card-group .card i {
  padding: 10px;
}
.team .hero-img .card-group .card .card-footer {
  width: 100%;
  background-color: --bs-tertiary-color;
}
.team .hero-img .card-group .card .card-footer i {
  color: #039dff;
}
.team .hero-img .card-group .card .card-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
.team .hero-img .card-group .card:hover {
  scale: 0.96;
}
.team .hero-img .hero-shadow {
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  .hero-text hero-text {
    font-size: 42px;
  }
  .hero-text p {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */